@import "tailwindcss";

:root {
  --color-background: #212121;
  --color-primary: #303030;
  --color-white: #F9F9F9;
  --accent-color: #A6A6A6;
  --aaccent-color: #7e7e7e;
}

body {
  margin-left: 250px;
}

img {
  width: 100%;
}

.sidebar {
  width: 250px;
}